
{{>header}}
   
    <div class="about">
        <div class="wrapper target">
            <div class="text target">
                <h1>Who Are We</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit ad ipsa cumque ut error cupiditate aperiam assumenda, labore consequatur commodi quidem quas repellendus minus voluptatum, inventore eaque aliquam? Nemo, laborum.</p>
            </div>
            <div class="photo target">
                <img src="/img/team/team-1.jpg" alt="">
            </div>
        </div>
        <div class="wrapper target">
            <div class="text target">
                <h1>Our Team</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit ipsum iste ducimus deserunt dolorem, voluptates numquam nam? Quaerat placeat enim dolorem error, adipisci officia veniam dolore repellendus hic illo odio.</p>
            </div>
            <div class="photo target">
                <img src="/img/team/team-2.jpg" alt="">
            </div>
        </div>
        <div class="wrapper target">
            <div class="text target">
                <h1>My Family</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur, facere? A tempore placeat reiciendis ab quia molestias quasi omnis! Ab, consectetur dolorem officiis similique a iure non aliquam amet fuga.
                </p>
            </div>
            <div class="photo target">
                <img src="/img/team/team-3.jpg" alt="">
            </div>
        </div>
    </div>
